


@media all and (max-width:991px){
	.main-menu ul {
	display: flex;
	justify-content: center !important;
	list-style: none;
}
.carousel-caption img {
	height: 135px !important;
	width: 135px !important;
	border-radius: 100px;
	margin-top: 25px;
}
.carousel-caption h1 {
	z-index: 99999;
	color: #FCA22D;
	font-size: 40px !important;
	padding-top: 20px;
}
.about-content {
	padding-left: 130px !important;
}
}

/* Tab Screen*/
@media all and (min-width:767px){
	.main-menu ul{
		
	}
	

}

@media all and (max-width:767px){
	.main-menu{
		text-align:center;
	}
	
	.main-menu ul {
	text-align: center;
	margin-top: -25px;
	margin-right: 40px;
}
	.carousel-caption img {
	height: 100px !important;
	width: 100px !important;
	border-radius: 100px;
	margin-top: 45px;
}
.carousel-caption p{
	font-size:15px !important;
	
}
.carousel-caption h1 {
	font-size: 25px !important;
	padding-top: 5px !important;
}
.d-none {
	display: block !important;
}
.about-content {
	padding: 0 10px !important;
	margin-top: 60px !important;
}
.carousel-caption {

	top: 22%;
}
.main-heading h1{
	font-size:40px;
}
}


@media all and (max-width:650px){
	.main-menu ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin-top: -40px !important;
}
.main-menu ul li a {

	font-size: 12px !important;
	padding: 10px 0 !important;
	margin: 0 15px !important;

}

.carousel-caption img {
	height: 80px !important;
	width: 80px !important;
	border-radius: 100px;
	margin-top: 13px !important;
}
#main{
	display:block;
}
.main-menu{
	display:none;
}
.logo h2 {
	
	float: right !important;
}

}

@media all and (max-width:560px){
	.carousel-caption p {
	display: none !important;
}
  .logo h2{
	  font-size:30px !important;
  }
  .carousel-caption img {
	height: 80px !important;
	width: 80px !important;
	border-radius: 100px;
	margin-top: 20px !important;
}
	.carousel-caption h1 {
	font-size: 22px !important;
	padding-top: 25px !important;
}
}

@media all and (max-width:460px){
	.carousel-caption p {
	display: none !important;
}
	.carousel-caption img {
	height: 70px !important;
	width: 70px !important;
	border-radius: 100px;
	margin-top: 20px !important;
}
.carousel-caption h1 {
	font-size: 15px !important;
	padding-top: 17px !important;
}
.main-heading h1{
	font-size:35px;
}
.about-content h3{
	font-size:30px;
}
}

@media all and (max-width:400px){
	
	.carousel-caption img {
	height: 50px !important;
	width: 50px !important;
	border-radius: 100px;
	margin-top: 15px !important;
}
.carousel-caption h1 {
	font-size: 12px !important;
	padding-top: 15px !important;
}
.logo h2{
	  font-size:25px !important;
  }
  
  #main {
	top: -25px;
}
}

@media all and (max-width:350px){
	
	.carousel-caption img {
	height: 50px !important;
	width: 50px !important;
	border-radius: 100px;
	margin-top: 10px !important;
}
.carousel-caption h1 {
	font-size: 12px !important;
	padding-top: 15px !important;
}
.logo h2{
	  font-size:22px !important;
  }
   #main {
	top: -28px;
}
.about-img img {
	height: 280px;
	width: 280px;
	border: 3px solid #FCA22D;
	object-fit: cover;
}
.main-heading h1{
	font-size:30px;
}
.first-item input{
	font-size:13px;
}
.first-item textarea{
	font-size:13px;
}
.first-item select{
	font-size:13px;
}
.about-content p {
	font-size: 13px;
}
}

@media all and (max-width:320px){
	
	.carousel-caption img {
	height: 50px !important;
	width: 50px !important;
	border-radius: 100px;
	margin-top: 10px !important;
}
.carousel-caption h1 {
	font-size: 12px !important;
	padding-top: 10px !important;
}
.logo h2{
	  font-size:20px !important;
  }
  .about-pic img{
	  height: 270px !important;
      width: 260px !important;
      object-fit: cover !important;
  }
}